p { font-family: sans-serif;
    text-align: center;
  }
h1 {text-align: center;}
img{
    border-radius: 200px;
    width: 200px;
}
.sharmout {
    display: grid;
    place-items: center;
    
  }
  .sharmout2{
    display: grid;
    place-items: center;


  }
 .bigger-img{    width: 50%; 
    height: auto; } 
    h2 {text-align: center;}
    .secondtext { font-family: sans-serif;
        text-align: center;
        background-color: #f105f1; 
        color: aliceblue;
}
.sharmout3 {
    color: aliceblue;
background-color: #f105f1;}
.centertable{
    margin:0 auto;
    
}
