* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}


p { font-family: sans-serif;
    text-align: center;
  }
h1 {text-align: center;}
img{
    border-radius: 200px;
    width: 200px;
}
.sharmout {
    display: grid;
    place-items: center;

  }
  .sharmout2{
    display: grid;
    place-items: center;


  }
 .bigger-img{    width: 50%;
    height: auto; }
    h2 {text-align: center;}


    .secondtext {
      font-family: sans-serif;
        text-align: center;
        background-color: #6E07F3;
        color: aliceblue;
        margin-top: 5rem;
        padding: 1rem;

        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

}

.centertable{
    margin:0 auto;
    margin-top: 5rem;

}

.journey-paragraph{
  margin-top: 3rem;
  max-width: 70%;
}

.border-table{
  border: 0.1rem solid black;
}
